In [1]:
import pandas as pd
df = pd.read_stata('allbus2016/allbus2016.dta', columns=['educ', 'inc', 'age', 'ls01', 'hs01', 'lt23', 'pv01'], convert_categoricals=False)
df.head()

In [2]:
df.rename(columns={"ls01": "happiness", "hs01": "health", "lt23": "months_abroad", "pv01": "pref_party"}, inplace=True)

In [3]:
df.pref_party.replace(to_replace={1: 6, 2: 3, 3: 5, 4: 2, 6: 1, 20: 11, 41: 4, 42: 9}, inplace=True)

In [4]:
df = df.drop(df[df.pref_party == -50].index)
df = df.drop(df[df.pref_party == -41].index)
df = df.drop(df[df.pref_party == -9].index)
df = df.drop(df[df.pref_party == -8].index)
df = df.drop(df[df.pref_party == -7].index)
df = df.drop(df[df.pref_party == 90].index)
df = df.drop(df[df.pref_party == 91].index)

In [5]:
df = df.drop(df[df.educ == -41].index)
df = df.drop(df[df.educ == -9].index)
df = df.drop(df[df.educ == 6].index)
df = df.drop(df[df.educ == 7].index)

In [6]:
df = df.drop(df[df.months_abroad == -41].index)
df = df.drop(df[df.months_abroad == -9].index)
df = df.drop(df[df.months_abroad == -8].index)
df.months_abroad.replace(to_replace={-10: 0}, inplace=True)

In [7]:
df = df.drop(df[df.age == -32].index)
df = df.drop(df[df.health == -9].index)
df.health.replace(to_replace={1: 6, 2: 7}, inplace=True)
df.health.replace(to_replace={5: 1, 4: 2}, inplace=True)
df.health.replace(to_replace={6: 5, 7: 4}, inplace=True)

In [8]:
df = df.drop(df[df.inc == -50].index)
df = df.drop(df[df.inc == -32].index)
df = df.drop(df[df.inc == -9].index)

In [9]:
df.reset_index(drop=True, inplace=True)

In [10]:
df.dtypes

educ              int8
inc              int16
age               int8
happiness         int8
health           int64
months_abroad    int64
pref_party       int64
dtype: object

In [12]:
df.head(20)

    educ   inc  age  happiness  health  months_abroad  pref_party
0      3  1800   47          9       3              0           1
1      3  2000   52          8       3              0           5
2      2  2500   61          9       4              0           6
3      2   860   54          3       2             18           1
4      3  2500   49          7       5              0           6
5      3   750   75          9       4              0           6
6      5  4500   59          8       4              0           6
7      3   880   65          5       3              0           9
8      2  3000   61         10       4              6           3
9      2   950   76         10       3              0           6
10     2  1200   23         10       3              0           3
11     2  3300   65          9       3              0           6
12     3  1500   54          6       3             18           2
13     5  1600   76         10       5              0           3
14     3  1800   23          8       4              0           3
15     3  2125   36          9       5              0           2
16     3   350   34          9       5            144           3
17     4  2400   52          9       5             18           6
18     3  1050   63          8       2              0           3
19     2  2375   61          8       5              0           1

In [16]:
df.to_csv('data_sets/allbus2016.csv')